<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Contrarian logo" class="db w4 center mb4 br0">
			
		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mt0 mb1 primary">Kaldi</h3>
				<ul class="list mt0 mb3 pl0">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/products" class="link">Margin Tables</a></li>
					<li><a href="/values" class="link">Margins with Depth</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>


			<div>
				<h3 class="f4 b lh-title mt0 mb2 primary">Social media</h3>
				<ul class="mhn2 mv0 pl0">
					{{ partial "social-icon" (dict "link" "#" "svg" "facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
