<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">
	
	

	<!-- Logo -->
	<a href="/" >
		<img src="/img/logo3.png" alt="Contrarian Logo">
	</a>

	<!-- Primary Nav -->
	<ul class="list pl0 flex mv0 b">
		<li><a href="/products" class="pa3 grey-3 no-underline db">Margin Tables</a></li>

		<li><a href="/values" class="pa3 grey-3 no-underline db">Margins with Depth</a></li>
		
		<li><a href="/contact" class="pa3 grey-3 no-underline db">Historical Data</a></li>

	</ul>

</nav>
