BTC Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	10000.0  	|	10100.0
CSpot B/S	|	10008.9  	|	10060.1
Coinjar 	|	9879.5  	|	10079.1
ACX.io   	|	10410.3  	|	10547.9
BTC Mrkts	|	9950.1  	|	9971.3
IND RES  	|	10000.3  	|	10047.4
Bitfinex	|	7609.8  	|	7609.9
Coinfloor	|	5685.0  	|	5702.0
KrakenUS	|	7605.4  	|	7609.7
Bittrex 	|	7589.7  	|	7597.3
Gemini  	|	7609.0  	|	7609.5
Bitstamp	|	7604.2  	|	7609.8
--------------------------------------------------------------------
BTC Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	10000.0  	|	10100.0
CSpot B/S	|	10008.89  	|	10060.1
Coinjar 	|	9879.532  	|	10079.119
ACX.io   	|	10592.642  	|	10404.301
BTC Mrkts	|	9971.322  	|	9950.1
IND RES  	|	10047.15  	|	10000.107
Bitfinex	|	9943.969  	|	9943.838
Coinfloor	|	9991.093  	|	9960.421
KrakenUS	|	9943.577  	|	9943.185
Bittrex 	|	9955.719  	|	9903.835
Gemini  	|	9943.877  	|	9942.649
Bitstamp	|	9943.088  	|	9940.049
--------------------------------------------------------------------


BTC MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
Coinspot -> ACX.io    	|	 3.7%
CSpot B/S -> ACX.io    	|	 3.1%
Coinjar  -> ACX.io    	|	 4.9%
ACX.io    -> ACX.io    	|	 1.4%
BTC Mrkts -> ACX.io    	|	 5.7%
IND RES   -> ACX.io    	|	 5.2%
Bitfinex -> ACX.io    	|	 6.1%
Coinfloor -> ACX.io    	|	 5.9%
KrakenUS -> ACX.io    	|	 6.1%
Bittrex  -> ACX.io    	|	 6.5%
Bittrex  -> IND RES   	|	 0.7%
Gemini   -> ACX.io    	|	 6.1%
Bitstamp -> ACX.io    	|	 6.1%
--------------------------------------------------------------------


BTC MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
Coinspot -> ACX.io    	|	 282.76
CSpot B/S -> ACX.io    	|	 224.36
Coinjar  -> ACX.io    	|	 408.49
BTC Mrkts -> ACX.io    	|	 485.76
IND RES   -> ACX.io    	|	 439.53
Bitfinex -> ACX.io    	|	 532.47
Coinfloor -> ACX.io    	|	 504.73
KrakenUS -> ACX.io    	|	 523.17
Bittrex  -> ACX.io    	|	 565.49
Gemini   -> ACX.io    	|	 523.74
Bitstamp -> ACX.io    	|	 526.53
ETH Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	790.0  	|	810.0
CSpot B/S	|	804.0  	|	804.5
Coinjar 	|	770.3  	|	809.8
ACX.io   	|	870.0  	|	946.1
BTC Mrkts	|	791.2  	|	794.0
IND RES  	|	792.2  	|	794.7
Bitfinex	|	605.8  	|	605.8
KrakenUS	|	605.1  	|	605.4
Bittrex 	|	605.0  	|	606.8
Gemini  	|	604.0  	|	604.0
Bitstamp	|	604.2  	|	604.7
--------------------------------------------------------------------
ETH Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	790.02  	|	810.0
CSpot B/S	|	804.04  	|	804.47
Coinjar 	|	770.331  	|	809.835
ACX.io   	|	957.011  	|	843.994
BTC Mrkts	|	793.97  	|	791.009
IND RES  	|	798.159  	|	791.233
Bitfinex	|	791.597  	|	791.584
KrakenUS	|	791.127  	|	790.438
Bittrex 	|	795.569  	|	789.503
Gemini  	|	789.245  	|	789.232
Bitstamp	|	790.393  	|	789.507
--------------------------------------------------------------------


ETH MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
Coinspot -> ACX.io    	|	 16.9%
CSpot B/S -> ACX.io    	|	 16.8%
Coinjar  -> ACX.io    	|	 18.0%
ACX.io    -> ACX.io    	|	 13.0%
BTC Mrkts -> ACX.io    	|	 20.2%
IND RES   -> ACX.io    	|	 20.3%
Bitfinex -> ACX.io    	|	 20.5%
KrakenUS -> ACX.io    	|	 20.6%
Bittrex  -> ACX.io    	|	 20.8%
Gemini   -> ACX.io    	|	 20.8%
Bitstamp -> ACX.io    	|	 20.8%
--------------------------------------------------------------------


ETH MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
Coinspot -> ACX.io    	|	 1609.95
CSpot B/S -> ACX.io    	|	 1591.17
Coinjar  -> ACX.io    	|	 1716.36
ACX.io    -> ACX.io    	|	 1214.08
BTC Mrkts -> ACX.io    	|	 1938.62
IND RES   -> ACX.io    	|	 1942.2
Bitfinex -> ACX.io    	|	 1969.82
KrakenUS -> ACX.io    	|	 1977.36
Bittrex  -> ACX.io    	|	 1991.69
Gemini   -> ACX.io    	|	 1995.85
Bitstamp -> ACX.io    	|	 1991.64
LTC Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	160.0  	|	165.0
CSpot B/S	|	159.6  	|	160.8
Coinjar 	|	154.1  	|	162.1
BTC Mrkts	|	157.7  	|	159.2
IND RES  	|	160.0  	|	161.2
Bitfinex	|	121.2  	|	121.2
KrakenUS	|	121.0  	|	121.2
Bittrex 	|	121.0  	|	121.5
Bitstamp	|	120.8  	|	121.1
--------------------------------------------------------------------
LTC Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	160.0  	|	164.98
CSpot B/S	|	159.6  	|	160.81
Coinjar 	|	154.145  	|	162.05
BTC Mrkts	|	161.27  	|	156.673
IND RES  	|	161.163  	|	157.795
Bitfinex	|	158.437  	|	158.362
KrakenUS	|	158.526  	|	157.949
Bittrex 	|	158.84  	|	157.527
Bitstamp	|	158.206  	|	157.744
--------------------------------------------------------------------


LTC MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
BTC Mrkts -> Coinspot 	|	 0.9%
BTC Mrkts -> BTC Mrkts 	|	 2.5%
BTC Mrkts -> IND RES   	|	 2.1%
BTC Mrkts -> KrakenUS 	|	 0.8%
BTC Mrkts -> Bittrex  	|	 0.9%
IND RES   -> BTC Mrkts 	|	 1.4%
IND RES   -> IND RES   	|	 0.9%
Bitfinex -> BTC Mrkts 	|	 1.2%
KrakenUS -> BTC Mrkts 	|	 1.7%
KrakenUS -> IND RES   	|	 1.2%
Bittrex  -> BTC Mrkts 	|	 1.9%
Bittrex  -> IND RES   	|	 1.5%
Bitstamp -> BTC Mrkts 	|	 1.8%
Bitstamp -> IND RES   	|	 1.3%
--------------------------------------------------------------------


LTC MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
BTC Mrkts -> BTC Mrkts 	|	 168.41
BTC Mrkts -> IND RES   	|	 141.56
Bittrex  -> BTC Mrkts 	|	 107.62
BCH Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
CSpot B/S	|	1497.7  	|	1507.2
ACX.io   	|	1401.0  	|	1694.6
BTC Mrkts	|	1479.0  	|	1498.6
IND RES  	|	1468.8  	|	1516.6
Bitfinex	|	1134.8  	|	1134.9
Coinfloor	|	821.0  	|	850.0
KrakenUS	|	1135.1  	|	1137.0
Bittrex 	|	1129.1  	|	1131.0
Bitstamp	|	1133.3  	|	1134.0
--------------------------------------------------------------------
BCH Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
CSpot B/S	|	1497.65  	|	1507.2
ACX.io   	|	1854.418  	|	1400.202
BTC Mrkts	|	1498.59  	|	1459.656
IND RES  	|	1516.534  	|	1468.83
Bitfinex	|	1485.585  	|	1483.506
Coinfloor	|	1489.245  	|	1438.435
KrakenUS	|	1487.124  	|	1481.648
Bittrex 	|	1489.245  	|	1476.038
Bitstamp	|	1484.614  	|	1479.678
--------------------------------------------------------------------


BCH MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
CSpot B/S -> ACX.io    	|	 20.0%
ACX.io    -> CSpot B/S 	|	 4.0%
ACX.io    -> ACX.io    	|	 28.4%
ACX.io    -> BTC Mrkts 	|	 5.0%
ACX.io    -> IND RES   	|	 6.1%
ACX.io    -> Bitfinex 	|	 3.5%
ACX.io    -> Coinfloor 	|	 3.9%
ACX.io    -> KrakenUS 	|	 4.0%
ACX.io    -> Bittrex  	|	 4.1%
ACX.io    -> Bitstamp 	|	 3.8%
BTC Mrkts -> CSpot B/S 	|	 1.6%
BTC Mrkts -> ACX.io    	|	 25.0%
BTC Mrkts -> BTC Mrkts 	|	 2.6%
BTC Mrkts -> IND RES   	|	 3.7%
BTC Mrkts -> Bitfinex 	|	 1.2%
BTC Mrkts -> Coinfloor 	|	 1.5%
BTC Mrkts -> KrakenUS 	|	 1.7%
BTC Mrkts -> Bittrex  	|	 1.8%
BTC Mrkts -> Bitstamp 	|	 1.4%
IND RES   -> CSpot B/S 	|	 0.8%
IND RES   -> ACX.io    	|	 24.1%
IND RES   -> BTC Mrkts 	|	 1.8%
IND RES   -> IND RES   	|	 2.8%
IND RES   -> Coinfloor 	|	 0.7%
IND RES   -> KrakenUS 	|	 0.8%
IND RES   -> Bittrex  	|	 0.9%
Bitfinex -> ACX.io    	|	 22.4%
Bitfinex -> IND RES   	|	 1.4%
Coinfloor -> CSpot B/S 	|	 2.6%
Coinfloor -> ACX.io    	|	 26.4%
Coinfloor -> BTC Mrkts 	|	 3.7%
Coinfloor -> IND RES   	|	 4.7%
Coinfloor -> Bitfinex 	|	 2.2%
Coinfloor -> Coinfloor 	|	 2.6%
Coinfloor -> KrakenUS 	|	 2.7%
Coinfloor -> Bittrex  	|	 2.8%
Coinfloor -> Bitstamp 	|	 2.5%
KrakenUS -> ACX.io    	|	 23.0%
KrakenUS -> BTC Mrkts 	|	 0.9%
KrakenUS -> IND RES   	|	 2.0%
Bittrex  -> ACX.io    	|	 23.4%
Bittrex  -> BTC Mrkts 	|	 1.3%
Bittrex  -> IND RES   	|	 2.3%
Bitstamp -> ACX.io    	|	 23.1%
Bitstamp -> BTC Mrkts 	|	 1.0%
Bitstamp -> IND RES   	|	 2.0%
--------------------------------------------------------------------


BCH MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
CSpot B/S -> ACX.io    	|	 1938.72
ACX.io    -> CSpot B/S 	|	 330.95
ACX.io    -> ACX.io    	|	 2778.92
ACX.io    -> BTC Mrkts 	|	 436.67
ACX.io    -> IND RES   	|	 525.82
ACX.io    -> Bitfinex 	|	 284.78
ACX.io    -> Coinfloor 	|	 322.93
ACX.io    -> KrakenUS 	|	 335.77
ACX.io    -> Bittrex  	|	 345.92
ACX.io    -> Bitstamp 	|	 312.85
BTC Mrkts -> ACX.io    	|	 2443.48
BTC Mrkts -> BTC Mrkts 	|	 204.73
BTC Mrkts -> IND RES   	|	 288.67
BTC Mrkts -> KrakenUS 	|	 107.18
BTC Mrkts -> Bittrex  	|	 116.71
IND RES   -> ACX.io    	|	 2340.13
IND RES   -> BTC Mrkts 	|	 116.61
IND RES   -> IND RES   	|	 199.77
Bitfinex -> ACX.io    	|	 2180.23
Coinfloor -> CSpot B/S 	|	 198.66
Coinfloor -> ACX.io    	|	 2578.9
Coinfloor -> BTC Mrkts 	|	 304.19
Coinfloor -> IND RES   	|	 389.94
Coinfloor -> Bitfinex 	|	 154.78
Coinfloor -> Coinfloor 	|	 192.23
Coinfloor -> KrakenUS 	|	 205.48
Coinfloor -> Bittrex  	|	 215.22
Coinfloor -> Bitstamp 	|	 183.03
KrakenUS -> ACX.io    	|	 2235.92
KrakenUS -> IND RES   	|	 115.46
Bittrex  -> ACX.io    	|	 2273.48
Bittrex  -> IND RES   	|	 144.35
Bitstamp -> ACX.io    	|	 2242.58
Bitstamp -> IND RES   	|	 119.08
OMG Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
CSpot B/S	|	14.9  	|	15.1
Bitfinex	|	11.3  	|	11.3
Bittrex 	|	11.3  	|	11.4
--------------------------------------------------------------------
OMG Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
CSpot B/S	|	14.86  	|	15.06
Bitfinex	|	14.766  	|	14.703
Bittrex 	|	14.883  	|	14.667
--------------------------------------------------------------------


OMG MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
Bittrex  -> Bittrex  	|	 1.5%
--------------------------------------------------------------------


OMG MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

TRX Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
CSpot B/S	|	0.1  	|	0.1
Bitfinex	|	0.1  	|	0.1
Bittrex 	|	0.1  	|	0.1
--------------------------------------------------------------------
TRX Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
CSpot B/S	|	0.079  	|	0.079
Bitfinex	|	0.078  	|	0.078
Bittrex 	|	0.078  	|	0.077
--------------------------------------------------------------------


TRX MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
Bittrex  -> CSpot B/S 	|	 1.0%
Bittrex  -> Bittrex  	|	 1.4%
--------------------------------------------------------------------


TRX MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---


--------XRP ARBITRAGES--------
+--------------------+----------+
|       Market       |  Price   |
+--------------------+----------+
|   GatehubXRP/USD   | 0.659726 |
|   GatehubXRP/BTC   | 0.676555 |
|   BittrexXRP/BTC   | 0.672372 |
| BTC MarketsXRP/AUD | 0.662879 |
+--------------------+----------+

Rates are :

AUD->USD: 0.765288
AUD->NZD: 1.087395
AUD->GBP: 0.570759
AUD->EUR: 0.652714