BTC Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	10000.0  	|	10100.0
CSpot B/S	|	10013.3  	|	10067.2
Coinjar 	|	9880.3  	|	10079.9
ACX.io   	|	10411.1  	|	10547.9
BTC Mrkts	|	9951.1  	|	9983.4
IND RES  	|	10000.3  	|	10046.8
Bitfinex	|	7611.2  	|	7611.3
Coinfloor	|	5688.0  	|	5704.0
KrakenUS	|	7611.6  	|	7611.8
Bittrex 	|	7589.7  	|	7599.2
Gemini  	|	7609.9  	|	7609.9
Bitstamp	|	7607.0  	|	7611.3
--------------------------------------------------------------------
BTC Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	10000.0  	|	10100.0
CSpot B/S	|	10013.26  	|	10067.19
Coinjar 	|	9880.272  	|	10079.873
ACX.io   	|	10592.643  	|	10404.322
BTC Mrkts	|	9986.068  	|	9950.715
IND RES  	|	10046.71  	|	10000.107
Bitfinex	|	9944.173  	|	9944.043
Coinfloor	|	9992.888  	|	9963.111
KrakenUS	|	9949.228  	|	9943.856
Bittrex 	|	9955.962  	|	9914.054
Gemini  	|	9949.083  	|	9942.305
Bitstamp	|	9945.079  	|	9938.07
--------------------------------------------------------------------


BTC MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
Coinspot -> ACX.io    	|	 3.7%
CSpot B/S -> ACX.io    	|	 3.0%
Coinjar  -> ACX.io    	|	 4.9%
ACX.io    -> ACX.io    	|	 1.4%
BTC Mrkts -> ACX.io    	|	 5.7%
IND RES   -> ACX.io    	|	 5.2%
Bitfinex -> ACX.io    	|	 6.1%
Coinfloor -> ACX.io    	|	 5.9%
KrakenUS -> ACX.io    	|	 6.1%
Bittrex  -> ACX.io    	|	 6.4%
Gemini   -> ACX.io    	|	 6.1%
Bitstamp -> ACX.io    	|	 6.1%
--------------------------------------------------------------------


BTC MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
Coinspot -> ACX.io    	|	 282.76
CSpot B/S -> ACX.io    	|	 216.94
Coinjar  -> ACX.io    	|	 407.7
BTC Mrkts -> ACX.io    	|	 485.11
IND RES   -> ACX.io    	|	 439.53
Bitfinex -> ACX.io    	|	 532.25
Coinfloor -> ACX.io    	|	 501.86
KrakenUS -> ACX.io    	|	 522.45
Bittrex  -> ACX.io    	|	 554.47
Gemini   -> ACX.io    	|	 524.11
Bitstamp -> ACX.io    	|	 528.65
ETH Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	790.0  	|	810.0
CSpot B/S	|	804.6  	|	805.0
Coinjar 	|	770.3  	|	809.8
ACX.io   	|	870.0  	|	946.1
BTC Mrkts	|	791.2  	|	794.0
IND RES  	|	792.2  	|	798.4
Bitfinex	|	605.8  	|	605.8
KrakenUS	|	605.4  	|	605.4
Bittrex 	|	605.0  	|	606.8
Gemini  	|	604.0  	|	604.0
Bitstamp	|	604.6  	|	605.0
--------------------------------------------------------------------
ETH Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	790.02  	|	810.0
CSpot B/S	|	804.61  	|	805.04
Coinjar 	|	770.331  	|	809.835
ACX.io   	|	957.018  	|	843.992
BTC Mrkts	|	793.97  	|	791.009
IND RES  	|	798.36  	|	791.421
Bitfinex	|	791.478  	|	791.465
KrakenUS	|	791.008  	|	790.873
Bittrex 	|	795.449  	|	789.688
Gemini  	|	789.127  	|	789.114
Bitstamp	|	790.433  	|	790.002
--------------------------------------------------------------------


ETH MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
Coinspot -> ACX.io    	|	 17.0%
CSpot B/S -> ACX.io    	|	 16.7%
Coinjar  -> ACX.io    	|	 18.0%
ACX.io    -> ACX.io    	|	 13.0%
BTC Mrkts -> ACX.io    	|	 20.2%
IND RES   -> ACX.io    	|	 20.2%
Bitfinex -> ACX.io    	|	 20.5%
KrakenUS -> ACX.io    	|	 20.6%
Bittrex  -> ACX.io    	|	 20.7%
Gemini   -> ACX.io    	|	 20.8%
Bitstamp -> ACX.io    	|	 20.7%
--------------------------------------------------------------------


ETH MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
Coinspot -> ACX.io    	|	 1610.03
CSpot B/S -> ACX.io    	|	 1582.82
Coinjar  -> ACX.io    	|	 1716.44
ACX.io    -> ACX.io    	|	 1214.18
BTC Mrkts -> ACX.io    	|	 1938.7
IND RES   -> ACX.io    	|	 1939.4
Bitfinex -> ACX.io    	|	 1971.72
KrakenUS -> ACX.io    	|	 1970.77
Bittrex  -> ACX.io    	|	 1988.93
Gemini   -> ACX.io    	|	 1997.75
Bitstamp -> ACX.io    	|	 1984.11
LTC Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	160.0  	|	165.0
CSpot B/S	|	159.6  	|	161.1
Coinjar 	|	154.2  	|	162.1
BTC Mrkts	|	157.7  	|	159.2
IND RES  	|	160.0  	|	161.6
Bitfinex	|	121.2  	|	121.3
KrakenUS	|	121.0  	|	121.2
Bittrex 	|	121.0  	|	121.7
Bitstamp	|	121.0  	|	121.2
--------------------------------------------------------------------
LTC Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	160.0  	|	164.98
CSpot B/S	|	159.62  	|	161.06
Coinjar 	|	154.209  	|	162.117
BTC Mrkts	|	161.211  	|	156.673
IND RES  	|	161.503  	|	158.519
Bitfinex	|	158.52  	|	158.341
KrakenUS	|	158.678  	|	158.116
Bittrex 	|	159.031  	|	157.504
Bitstamp	|	158.368  	|	157.764
--------------------------------------------------------------------


LTC MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
BTC Mrkts -> Coinspot 	|	 0.9%
BTC Mrkts -> BTC Mrkts 	|	 2.5%
BTC Mrkts -> IND RES   	|	 2.3%
BTC Mrkts -> KrakenUS 	|	 0.9%
BTC Mrkts -> Bittrex  	|	 1.1%
IND RES   -> BTC Mrkts 	|	 0.9%
Bitfinex -> BTC Mrkts 	|	 1.1%
Bitfinex -> IND RES   	|	 0.9%
KrakenUS -> BTC Mrkts 	|	 1.6%
KrakenUS -> IND RES   	|	 1.3%
Bittrex  -> BTC Mrkts 	|	 1.9%
Bittrex  -> IND RES   	|	 1.7%
Bitstamp -> BTC Mrkts 	|	 1.7%
Bitstamp -> IND RES   	|	 1.5%
--------------------------------------------------------------------


LTC MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
BTC Mrkts -> BTC Mrkts 	|	 164.62
BTC Mrkts -> IND RES   	|	 163.26
Bittrex  -> BTC Mrkts 	|	 105.38
Bittrex  -> IND RES   	|	 103.92
BCH Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
CSpot B/S	|	1498.7  	|	1511.2
ACX.io   	|	1401.0  	|	1694.6
BTC Mrkts	|	1479.0  	|	1498.6
IND RES  	|	1468.9  	|	1516.4
Bitfinex	|	1136.7  	|	1136.9
Coinfloor	|	821.0  	|	850.0
KrakenUS	|	1134.8  	|	1137.3
Bittrex 	|	1131.0  	|	1140.0
Bitstamp	|	1133.3  	|	1134.0
--------------------------------------------------------------------
BCH Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
CSpot B/S	|	1498.7  	|	1511.24
ACX.io   	|	1854.336  	|	1400.213
BTC Mrkts	|	1498.59  	|	1459.961
IND RES  	|	1516.29  	|	1468.95
Bitfinex	|	1485.361  	|	1485.231
Coinfloor	|	1488.862  	|	1438.065
KrakenUS	|	1488.049  	|	1482.175
Bittrex 	|	1489.411  	|	1477.653
Bitstamp	|	1485.485  	|	1479.479
--------------------------------------------------------------------


BCH MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
CSpot B/S -> ACX.io    	|	 19.7%
ACX.io    -> CSpot B/S 	|	 4.0%
ACX.io    -> ACX.io    	|	 28.4%
ACX.io    -> BTC Mrkts 	|	 5.0%
ACX.io    -> IND RES   	|	 6.1%
ACX.io    -> Bitfinex 	|	 3.5%
ACX.io    -> Coinfloor 	|	 3.9%
ACX.io    -> KrakenUS 	|	 4.1%
ACX.io    -> Bittrex  	|	 4.1%
ACX.io    -> Bitstamp 	|	 3.8%
BTC Mrkts -> CSpot B/S 	|	 1.6%
BTC Mrkts -> ACX.io    	|	 25.0%
BTC Mrkts -> BTC Mrkts 	|	 2.6%
BTC Mrkts -> IND RES   	|	 3.6%
BTC Mrkts -> Bitfinex 	|	 1.1%
BTC Mrkts -> Coinfloor 	|	 1.5%
BTC Mrkts -> KrakenUS 	|	 1.7%
BTC Mrkts -> Bittrex  	|	 1.8%
BTC Mrkts -> Bitstamp 	|	 1.5%
IND RES   -> CSpot B/S 	|	 0.8%
IND RES   -> ACX.io    	|	 24.0%
IND RES   -> BTC Mrkts 	|	 1.8%
IND RES   -> IND RES   	|	 2.8%
IND RES   -> KrakenUS 	|	 0.9%
IND RES   -> Bittrex  	|	 0.9%
Bitfinex -> ACX.io    	|	 22.3%
Bitfinex -> IND RES   	|	 1.3%
Coinfloor -> CSpot B/S 	|	 2.7%
Coinfloor -> ACX.io    	|	 26.5%
Coinfloor -> BTC Mrkts 	|	 3.7%
Coinfloor -> IND RES   	|	 4.8%
Coinfloor -> Bitfinex 	|	 2.2%
Coinfloor -> Coinfloor 	|	 2.6%
Coinfloor -> KrakenUS 	|	 2.8%
Coinfloor -> Bittrex  	|	 2.8%
Coinfloor -> Bitstamp 	|	 2.6%
KrakenUS -> ACX.io    	|	 22.9%
KrakenUS -> BTC Mrkts 	|	 0.9%
KrakenUS -> IND RES   	|	 1.9%
Bittrex  -> ACX.io    	|	 23.2%
Bittrex  -> BTC Mrkts 	|	 1.2%
Bittrex  -> IND RES   	|	 2.2%
Bitstamp -> ACX.io    	|	 23.1%
Bitstamp -> BTC Mrkts 	|	 1.0%
Bitstamp -> IND RES   	|	 2.0%
--------------------------------------------------------------------


BCH MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
CSpot B/S -> ACX.io    	|	 1905.3
ACX.io    -> CSpot B/S 	|	 338.37
ACX.io    -> ACX.io    	|	 2778.25
ACX.io    -> BTC Mrkts 	|	 436.59
ACX.io    -> IND RES   	|	 524.0
ACX.io    -> Bitfinex 	|	 283.11
ACX.io    -> Coinfloor 	|	 320.11
ACX.io    -> KrakenUS 	|	 342.31
ACX.io    -> Bittrex  	|	 347.03
ACX.io    -> Bitstamp 	|	 319.0
BTC Mrkts -> CSpot B/S 	|	 104.34
BTC Mrkts -> ACX.io    	|	 2440.27
BTC Mrkts -> BTC Mrkts 	|	 202.59
BTC Mrkts -> IND RES   	|	 284.83
BTC Mrkts -> KrakenUS 	|	 111.39
BTC Mrkts -> Bittrex  	|	 115.72
IND RES   -> ACX.io    	|	 2338.55
IND RES   -> BTC Mrkts 	|	 115.77
IND RES   -> IND RES   	|	 197.27
Bitfinex -> ACX.io    	|	 2165.17
Coinfloor -> CSpot B/S 	|	 208.64
Coinfloor -> ACX.io    	|	 2581.66
Coinfloor -> BTC Mrkts 	|	 306.87
Coinfloor -> IND RES   	|	 390.96
Coinfloor -> Bitfinex 	|	 155.89
Coinfloor -> Coinfloor 	|	 192.23
Coinfloor -> KrakenUS 	|	 214.58
Coinfloor -> Bittrex  	|	 219.05
Coinfloor -> Bitstamp 	|	 191.75
KrakenUS -> ACX.io    	|	 2230.92
KrakenUS -> IND RES   	|	 110.17
Bittrex  -> ACX.io    	|	 2259.2
Bittrex  -> IND RES   	|	 131.47
Bitstamp -> ACX.io    	|	 2243.71
Bitstamp -> IND RES   	|	 118.81
OMG Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
CSpot B/S	|	14.9  	|	15.1
Bitfinex	|	11.3  	|	11.3
Bittrex 	|	11.3  	|	11.4
--------------------------------------------------------------------
OMG Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
CSpot B/S	|	14.87  	|	15.12
Bitfinex	|	14.773  	|	14.701
Bittrex 	|	14.881  	|	14.666
--------------------------------------------------------------------


OMG MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
Bittrex  -> Bittrex  	|	 1.4%
--------------------------------------------------------------------


OMG MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

TRX Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
CSpot B/S	|	0.1  	|	0.1
Bitfinex	|	0.1  	|	0.1
Bittrex 	|	0.1  	|	0.1
--------------------------------------------------------------------
TRX Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
CSpot B/S	|	0.079  	|	0.079
Bitfinex	|	0.078  	|	0.078
Bittrex 	|	0.078  	|	0.077
--------------------------------------------------------------------


TRX MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
Bittrex  -> CSpot B/S 	|	 0.8%
Bittrex  -> Bittrex  	|	 1.2%
--------------------------------------------------------------------


TRX MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---


--------XRP ARBITRAGES--------
+--------------------+----------+
|       Market       |  Price   |
+--------------------+----------+
|   GatehubXRP/USD   | 0.659726 |
|   GatehubXRP/BTC   | 0.676555 |
|   BittrexXRP/BTC   | 0.672372 |
| BTC MarketsXRP/AUD | 0.662879 |
+--------------------+----------+

Rates are :

AUD->USD: 0.765403
AUD->NZD: 1.087559
AUD->GBP: 0.570906
AUD->EUR: 0.652814