{{ partial "head" . }}



{{ partial "nav" . }}


<body>
<canvas id="bar-chart" width="800" height="450"></canvas>
<script>
// Bar chart
new Chart(document.getElementById("bar-chart"), {
    type: 'line',
    data: {
      labels: [1,2,3,4,5],
      datasets: [
        {
          label: "Arbitrage values",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: [1,2,3,4,5]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Best arbitrage value over the past 10 minutes'
      }
    }
});
</script>
</body>


{{ partial "footer" . }}
