{{ partial "head" . }}



{{ partial "nav" . }}




<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="/img/logo.svg" alt="" class="db w4 center pv4">

		<p class="mt0">(this page is currently in progress)</p>


<canvas id="bar-chart" width="800" height="450"></canvas>
<script>
// Bar chart
new Chart(document.getElementById("bar-chart"), {
    type: 'line',
    data: {
      labels: dates,
      datasets: [
        {
          label: "Arbitrage values",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: arbData
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Best arbitrage value over the past 10 minutes'
      }
    }
});
</script>

	</div>
</div>



{{ partial "footer" . }}
