{{ partial "head" . }} {{ partial "nav" . }} <pre>WELCOME TO THE ARRRBITRAGE!
We last tested the waters at 19:23:43 31 05 18 New Zealand Standard Time

BTC Market Prices
Exchange 	|	 Buy Price 	|	 SellPrice 
ACX.io   	|	10310.0  	|	10315.5
BTC Mrkts	|	9965.53  	|	10002.02
IND RES  	|	10000.0  	|	10029.98
Coinspot	|	9900.0  	|	10000.0
CSpot B/S	|	10035.74  	|	10091.71
CoinJar  	|	9878.413  	|	10077.977
Bitfinex	|	9975.785  	|	9975.917
Coinfloor	|	9994.167  	|	10004.709
KrakenUS	|	9963.381  	|	9965.492
Bittrex 	|	9950.489  	|	9961.666
Gemini  	|	9984.402  	|	9984.416
Bitstamp	|	9964.318  	|	9969.728
--------------------------------------------------------------------
BTC Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellPrice 
ACX.io   	|	10310.0  	|	10315.5
BTC Mrkts	|	9965.5  	|	10002.0
IND RES  	|	10000.0  	|	10030.0
Coinspot	|	9900.0  	|	10000.0
CSpot B/S	|	10035.7  	|	10091.7
CoinJar  	|	7485.9  	|	7637.1
Bitfinex	|	5677.5  	|	5677.6
Coinfloor	|	7573.6  	|	7581.6
KrakenUS	|	7550.3  	|	7551.9
Bittrex 	|	7540.5  	|	7549.0
Gemini  	|	7566.2  	|	7566.2
Bitstamp	|	7551.0  	|	7555.1
--------------------------------------------------------------------
BTC Market Prices for a depth of 2 BTC
Exchange 	|	 Buy Price 	|	 SellPrice 
ACX.io     	|	10326.0  	|	10307.0
BTC Mrkts  	|	10010.0  	|	9951.0
IND RES    	|	10030.0  	|	10000.0
Coinspot  	|	10030.0  	|	10000.0
Bitfinex  	|	5695.0  	|	5676.0
Coinfloor  	|	7557.0  	|	7548.0
KrakenUS  	|	7549.0  	|	7541.0
Bittrex   	|	7566.0  	|	7557.0
Gemini    	|	7555.0  	|	7551.0
--------------------------------------------------------------------


BTC MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
BTC Mrkts -> ACX.io    	|	 2.3%
IND RES   -> ACX.io    	|	 2.1%
Coinspot -> ACX.io    	|	 1.9%
CoinJar   -> ACX.io    	|	 2.1%
Bitfinex -> ACX.io    	|	 2.9%
Coinfloor -> ACX.io    	|	 2.6%
KrakenUS -> ACX.io    	|	 3.0%
Bittrex  -> ACX.io    	|	 3.0%
Gemini   -> ACX.io    	|	 2.8%
Bitstamp -> ACX.io    	|	 3.0%
--------------------------------------------------------------------


BTC MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
BTC Mrkts -> ACX.io    	|	 148.06
IND RES   -> ACX.io    	|	 126.47
Coinspot -> ACX.io    	|	 105.29
CoinJar   -> ACX.io    	|	 129.37
Bitfinex -> ACX.io    	|	 215.03
Coinfloor -> ACX.io    	|	 175.44
KrakenUS -> ACX.io    	|	 215.99
Bittrex  -> ACX.io    	|	 219.96
Gemini   -> ACX.io    	|	 196.38
Bitstamp -> ACX.io    	|	 211.59
--------------------------------------------------------------------
ETH Market Prices
Exchange 	|	 Buy Price 	|	 SellPrice 
ACX.io   	|	779.94  	|	795.14
BTC Mrkts	|	753.75  	|	756.44
IND RES  	|	751.89  	|	757.59
Coinspot	|	737.0  	|	762.32
CSpot B/S	|	761.91  	|	768.08
CoinJar  	|	735.409  	|	773.122
Bitfinex	|	754.812  	|	754.825
KrakenUS	|	753.109  	|	753.413
Bittrex 	|	752.436  	|	757.451
Gemini  	|	754.666  	|	754.746
Bitstamp	|	754.086  	|	754.152
--------------------------------------------------------------------
--------------------------------------------------------------------


ETH MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
BTC Mrkts -> ACX.io    	|	 2.3%
IND RES   -> ACX.io    	|	 2.3%
Coinspot -> ACX.io    	|	 1.1%
Bitfinex -> ACX.io    	|	 2.9%
KrakenUS -> ACX.io    	|	 3.1%
Bittrex  -> ACX.io    	|	 2.5%
Gemini   -> ACX.io    	|	 2.9%
Bitstamp -> ACX.io    	|	 3.0%
--------------------------------------------------------------------


ETH MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
BTC Mrkts -> ACX.io    	|	 150.81
IND RES   -> ACX.io    	|	 142.3
Bitfinex -> ACX.io    	|	 212.87
KrakenUS -> ACX.io    	|	 222.38
Bittrex  -> ACX.io    	|	 167.19
Gemini   -> ACX.io    	|	 204.1
Bitstamp -> ACX.io    	|	 212.24
--------------------------------------------------------------------
LTC Market Prices
Exchange 	|	 Buy Price 	|	 SellPrice 
BTC Mrkts	|	158.39  	|	159.22
Coinspot	|	154.0  	|	164.98
CSpot B/S	|	159.9  	|	161.36
CoinJar  	|	154.841  	|	162.782
Bitfinex	|	159.025  	|	159.038
KrakenUS	|	158.497  	|	158.682
Bittrex 	|	158.035  	|	159.672
Bitstamp	|	158.669  	|	159.051
--------------------------------------------------------------------
--------------------------------------------------------------------


LTC MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


LTC MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

--------------------------------------------------------------------
BCH Market Prices
Exchange 	|	 Buy Price 	|	 SellPrice 
ACX.io   	|	1300.12  	|	1447.57
BTC Mrkts	|	1323.05  	|	1349.28
IND RES  	|	1341.22  	|	1370.61
CSpot B/S	|	1350.85  	|	1364.88
Bitfinex	|	1341.242  	|	1342.958
Coinfloor	|	1277.384  	|	1375.779
KrakenUS	|	1339.395  	|	1343.222
Bittrex 	|	1342.984  	|	1344.165
Bitstamp	|	1336.861  	|	1342.773
--------------------------------------------------------------------
--------------------------------------------------------------------


BCH MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


BCH MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

--------------------------------------------------------------------
OMG Market Prices
Exchange 	|	 Buy Price 	|	 SellPrice 
CSpot B/S	|	14.27  	|	14.46
Bitfinex	|	14.138  	|	14.159
Bittrex 	|	14.098  	|	14.186
--------------------------------------------------------------------
--------------------------------------------------------------------


OMG MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


OMG MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

--------------------------------------------------------------------
TRX Market Prices
Exchange 	|	 Buy Price 	|	 SellPrice 
CSpot B/S	|	0.081  	|	0.081
Bitfinex	|	0.08  	|	0.08
Bittrex 	|	0.08  	|	0.08
--------------------------------------------------------------------
--------------------------------------------------------------------


TRX MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


TRX MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

--------------------------------------------------------------------

--------XRP ARBITRAGES--------
+--------------------+----------+
|       Market       |  Price   |
+--------------------+----------+
|   GatehubXRP/USD   | 0.600319 |
|   GatehubXRP/BTC   | 0.614769 |
|   BittrexXRP/BTC   | 0.611861 |
| BTC MarketsXRP/AUD | 0.604898 |
+--------------------+----------+

Rates are :

AUD->USD: 0.757805
AUD->NZD: 1.082136
AUD->GBP: 0.569132
AUD->EUR: 0.648228</pre>