{{ partial "head" . }} {{ partial "nav" . }} <pre>BTC Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	10700.0  	|	10828.3
CSpot B/S	|	10759.6  	|	10816.8
Coinjar 	|	10580.0  	|	10694.0
ACX.io   	|	10670.0  	|	10705.6
BTC Mrkts	|	10654.8  	|	10654.8
IND RES  	|	10650.4  	|	10705.9
Bitfinex	|	7904.7  	|	7904.8
Coinfloor	|	6018.0  	|	6029.0
KrakenUS	|	7884.4  	|	7889.4
Bittrex 	|	7880.0  	|	7900.0
Gemini  	|	7885.3  	|	7889.5
Bitstamp	|	7895.5  	|	7896.6
--------------------------------------------------------------------
BTC Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	10700.0  	|	10828.28
CSpot B/S	|	10759.56  	|	10816.82
Coinjar 	|	10580.0  	|	10693.959
ACX.io   	|	10636.011  	|	10727.977
BTC Mrkts	|	10654.79  	|	10654.8
IND RES  	|	10650.44  	|	10705.87
Bitfinex	|	10695.395  	|	10695.53
Coinfloor	|	10675.552  	|	10693.707
KrakenUS	|	10669.556  	|	10679.745
Bittrex 	|	10660.087  	|	10692.29
Gemini  	|	10667.198  	|	10676.904
Bitstamp	|	10678.97  	|	10682.503
--------------------------------------------------------------------


BTC MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


BTC MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

ETH Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	625.0  	|	655.0
CSpot B/S	|	635.4  	|	636.6
Coinjar 	|	627.3  	|	629.9
ACX.io   	|	631.5  	|	641.0
BTC Mrkts	|	627.5  	|	629.8
IND RES  	|	625.9  	|	629.9
Bitfinex	|	464.2  	|	464.2
KrakenUS	|	463.8  	|	463.9
Bittrex 	|	463.0  	|	465.3
Gemini  	|	464.3  	|	464.4
Bitstamp	|	464.1  	|	464.6
--------------------------------------------------------------------
ETH Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	625.0  	|	654.999
CSpot B/S	|	635.36  	|	636.64
Coinjar 	|	627.3  	|	629.9
ACX.io   	|	621.472  	|	655.451
BTC Mrkts	|	627.448  	|	629.79
IND RES  	|	625.57  	|	629.89
Bitfinex	|	627.985  	|	627.998
KrakenUS	|	627.622  	|	627.753
Bittrex 	|	626.348  	|	629.729
Gemini  	|	627.578  	|	628.362
Bitstamp	|	627.444  	|	628.515
--------------------------------------------------------------------


ETH MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


ETH MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

LTC Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	110.2  	|	120.0
CSpot B/S	|	113.9  	|	114.3
Coinjar 	|	112.6  	|	113.2
BTC Mrkts	|	112.1  	|	112.7
IND RES  	|	112.1  	|	113.6
Bitfinex	|	83.2  	|	83.3
KrakenUS	|	83.1  	|	83.2
Bittrex 	|	83.0  	|	83.6
Bitstamp	|	83.2  	|	83.4
--------------------------------------------------------------------
LTC Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	110.2  	|	120.0
CSpot B/S	|	113.89  	|	114.26
Coinjar 	|	112.6  	|	113.2
BTC Mrkts	|	111.731  	|	114.074
IND RES  	|	112.181  	|	113.401
Bitfinex	|	112.863  	|	112.662
KrakenUS	|	112.472  	|	112.741
Bittrex 	|	112.342  	|	113.094
Bitstamp	|	112.826  	|	112.783
--------------------------------------------------------------------


LTC MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


LTC MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

BCH Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
CSpot B/S	|	1089.5  	|	1098.2
ACX.io   	|	1000.0  	|	1160.0
BTC Mrkts	|	1075.4  	|	1085.1
IND RES  	|	1079.6  	|	1088.4
Bitfinex	|	799.5  	|	799.5
Coinfloor	|	591.0  	|	607.0
KrakenUS	|	797.2  	|	797.5
Bittrex 	|	800.0  	|	802.0
Bitstamp	|	797.1  	|	798.3
--------------------------------------------------------------------
BCH Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
CSpot B/S	|	1089.52  	|	1098.17
ACX.io   	|	1000.0  	|	1166.54
BTC Mrkts	|	1074.975  	|	1087.055
IND RES  	|	1074.808  	|	1092.999
Bitfinex	|	1081.566  	|	1081.579
Coinfloor	|	993.782  	|	1099.119
KrakenUS	|	1078.042  	|	1080.613
Bittrex 	|	1081.729  	|	1084.938
Bitstamp	|	1078.223  	|	1081.685
--------------------------------------------------------------------


BCH MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


BCH MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

OMG Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
CSpot B/S	|	9.3  	|	9.4
Bitfinex	|	6.8  	|	6.9
Bittrex 	|	6.9  	|	6.9
--------------------------------------------------------------------
OMG Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
CSpot B/S	|	9.33  	|	9.38
Bitfinex	|	9.263  	|	9.302
Bittrex 	|	9.505  	|	9.328
--------------------------------------------------------------------


OMG MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
Bittrex  -> Bittrex  	|	 1.9%
--------------------------------------------------------------------


OMG MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
Bittrex  -> Bittrex  	|	 126.51

--------XRP ARBITRAGES--------
+--------------------+----------+
|       Market       |  Price   |
+--------------------+----------+
|   GatehubXRP/USD   | 0.460138 |
|   GatehubXRP/BTC   | 0.443961 |
|   BittrexXRP/BTC   | 0.450503 |
| BTC MarketsXRP/AUD | 0.451368 |
+--------------------+----------+

Rates are :

AUD->USD: 0.739206
AUD->NZD: 1.089222
AUD->GBP: 0.563696
AUD->EUR: 0.634164</pre>