{{ partial "head" . }} {{ partial "nav" . }} <pre>WELCOME TO THE ARRRBITRAGE!
We last tested the waters at 19:10:44 04 06 18 New Zealand Standard Time

BTC Market Prices
Exchange 	|	 Buy Price 	|	 SellPrice 
ACX.io   	|	10101.36  	|	10274.31
BTC Mrkts	|	10023.25  	|	10024.45
IND RES  	|	10022.71  	|	10080.74
Coinspot	|	10000.0  	|	10150.0
CSpot B/S	|	10033.48  	|	10096.79
CoinJar  	|	9872.108  	|	10071.544
Bitfinex	|	9967.017  	|	9967.148
Coinfloor	|	9977.406  	|	10007.158
KrakenUS	|	9956.272  	|	9965.576
Bittrex 	|	9959.024  	|	9973.438
Gemini  	|	9967.607  	|	9978.68
Bitstamp	|	9960.78  	|	9971.342
--------------------------------------------------------------------
BTC Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellPrice 
ACX.io   	|	10101.4  	|	10274.3
BTC Mrkts	|	10023.2  	|	10024.5
IND RES  	|	10022.7  	|	10080.7
Coinspot	|	10000.0  	|	10150.0
CSpot B/S	|	10033.5  	|	10096.8
CoinJar  	|	7533.7  	|	7685.9
Bitfinex	|	5695.1  	|	5695.1
Coinfloor	|	7614.0  	|	7636.7
KrakenUS	|	7597.9  	|	7605.0
Bittrex 	|	7600.0  	|	7611.0
Gemini  	|	7606.6  	|	7615.0
Bitstamp	|	7601.3  	|	7609.4
--------------------------------------------------------------------
BTC Market Prices for a depth of 2 BTC
Exchange 	|	 Buy Price 	|	 SellPrice 
ACX.io     	|	10274.0  	|	10101.0
BTC Mrkts  	|	10032.0  	|	9993.0
IND RES    	|	10081.0  	|	10022.0
Coinspot  	|	10081.0  	|	10022.0
Bitfinex  	|	5724.0  	|	5695.0
Coinfloor  	|	7605.0  	|	7598.0
KrakenUS  	|	7621.0  	|	7597.0
Bittrex   	|	7616.0  	|	7607.0
Gemini    	|	7611.0  	|	7601.0
--------------------------------------------------------------------


BTC MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
Bitfinex -> ACX.io    	|	 0.9%
KrakenUS -> ACX.io    	|	 0.9%
Bittrex  -> ACX.io    	|	 0.8%
Gemini   -> ACX.io    	|	 0.8%
Bitstamp -> ACX.io    	|	 0.9%
--------------------------------------------------------------------


BTC MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

--------------------------------------------------------------------
ETH Market Prices
Exchange 	|	 Buy Price 	|	 SellPrice 
ACX.io   	|	762.32  	|	829.87
BTC Mrkts	|	793.29  	|	796.67
IND RES  	|	788.54  	|	804.5
Coinspot	|	806.682  	|	808.0
CSpot B/S	|	804.21  	|	808.74
CoinJar  	|	774.973  	|	814.716
Bitfinex	|	794.298  	|	794.311
KrakenUS	|	793.787  	|	794.9
Bittrex 	|	793.307  	|	793.704
Gemini  	|	794.298  	|	795.543
Bitstamp	|	793.721  	|	794.52
--------------------------------------------------------------------
--------------------------------------------------------------------


ETH MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


ETH MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

--------------------------------------------------------------------
LTC Market Prices
Exchange 	|	 Buy Price 	|	 SellPrice 
BTC Mrkts	|	159.72  	|	160.64
Coinspot	|	162.0  	|	164.53
CSpot B/S	|	161.89  	|	163.09
CoinJar  	|	156.472  	|	164.496
Bitfinex	|	160.498  	|	160.511
KrakenUS	|	160.249  	|	160.498
Bittrex 	|	159.869  	|	160.524
Bitstamp	|	160.458  	|	160.694
--------------------------------------------------------------------
--------------------------------------------------------------------


LTC MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


LTC MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

--------------------------------------------------------------------
BCH Market Prices
Exchange 	|	 Buy Price 	|	 SellPrice 
ACX.io   	|	1450.01  	|	1692.96
BTC Mrkts	|	1483.4  	|	1551.4
IND RES  	|	1478.3  	|	1529.99
CSpot B/S	|	1520.28  	|	1533.08
Bitfinex	|	1506.695  	|	1506.827
Coinfloor	|	1246.082  	|	1513.85
KrakenUS	|	1505.909  	|	1507.613
Bittrex 	|	1489.922  	|	1500.982
Bitstamp	|	1516.13  	|	1516.379
--------------------------------------------------------------------
--------------------------------------------------------------------


BCH MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


BCH MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

--------------------------------------------------------------------
OMG Market Prices
Exchange 	|	 Buy Price 	|	 SellPrice 
CSpot B/S	|	14.88  	|	15.11
Bitfinex	|	14.746  	|	14.802
Bittrex 	|	14.69  	|	14.807
--------------------------------------------------------------------
--------------------------------------------------------------------


OMG MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


OMG MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

--------------------------------------------------------------------
TRX Market Prices
Exchange 	|	 Buy Price 	|	 SellPrice 
CSpot B/S	|	0.079  	|	0.079
Bitfinex	|	0.078  	|	0.078
Bittrex 	|	0.077  	|	0.078
--------------------------------------------------------------------
--------------------------------------------------------------------


TRX MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


TRX MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

--------------------------------------------------------------------

--------XRP ARBITRAGES--------
+--------------------+----------+
|       Market       |  Price   |
+--------------------+----------+
|   GatehubXRP/USD   | 0.683009 |
|   GatehubXRP/BTC   | 0.661602 |
|   BittrexXRP/BTC   | 0.663922 |
| BTC MarketsXRP/AUD | 0.662192 |
+--------------------+----------+

Rates are :

AUD->USD: 0.763127
AUD->NZD: 1.087683
AUD->GBP: 0.571391
AUD->EUR: 0.653314</pre>