BTC Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	5354.0  	|	5460.5
CSpot B/S	|	5425.2  	|	5459.7
Coinjar 	|	5415.0  	|	5448.8
ACX.io   	|	5428.8  	|	5456.7
BTC Mrkts	|	5455.4  	|	5468.0
IND RES  	|	5454.4  	|	5468.0
Bitfinex	|	3967.4  	|	3967.5
Coinfloor	|	3034.0  	|	3047.0
KrakenUS	|	3832.8  	|	3836.9
Bittrex 	|	3786.1  	|	3797.5
Gemini  	|	3831.7  	|	3836.3
Bitstamp	|	3827.3  	|	3833.6
--------------------------------------------------------------------
BTC Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	5354.0  	|	5460.54
CSpot B/S	|	5425.215  	|	5459.683
Coinjar 	|	5415.0  	|	5448.842
ACX.io   	|	5466.822  	|	5561.613
BTC Mrkts	|	5469.874  	|	5471.322
IND RES  	|	5495.953  	|	5539.231
Bitfinex	|	5635.445  	|	5636.113
Coinfloor	|	5496.37  	|	5886.172
KrakenUS	|	5449.941  	|	5455.145
Bittrex 	|	3797.466  	|	3798.312
Gemini  	|	5449.131  	|	5455.878
Bitstamp	|	5450.594  	|	5490.514
--------------------------------------------------------------------


BTC MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
Coinspot -> Bitfinex 	|	 2.0%
CSpot B/S -> Bitfinex 	|	 1.0%
Coinjar  -> Bitfinex 	|	 3.2%
ACX.io    -> Bitfinex 	|	 0.9%
BTC Mrkts -> Bitfinex 	|	 2.2%
IND RES   -> Bitfinex 	|	 1.1%
KrakenUS -> Bitfinex 	|	 2.9%
Bittrex  -> Coinspot 	|	 39.7%
Bittrex  -> CSpot B/S 	|	 40.6%
Bittrex  -> Coinjar  	|	 42.3%
Bittrex  -> ACX.io    	|	 43.5%
Bittrex  -> BTC Mrkts 	|	 43.2%
Bittrex  -> IND RES   	|	 44.0%
Bittrex  -> Bitfinex 	|	 47.9%
Bittrex  -> Coinfloor 	|	 44.2%
Bittrex  -> KrakenUS 	|	 43.0%
Bittrex  -> Gemini   	|	 43.0%
Bittrex  -> Bitstamp 	|	 43.0%
Gemini   -> Bitfinex 	|	 2.8%
Bitstamp -> Bitfinex 	|	 2.2%
--------------------------------------------------------------------


BTC MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
Coinspot -> Bitfinex 	|	 139.79
Coinjar  -> Bitfinex 	|	 263.71
BTC Mrkts -> Bitfinex 	|	 162.21
KrakenUS -> Bitfinex 	|	 225.0
Bittrex  -> Coinspot 	|	 3910.22
Bittrex  -> CSpot B/S 	|	 3997.71
Bittrex  -> Coinjar  	|	 4169.82
Bittrex  -> ACX.io    	|	 4267.25
Bittrex  -> BTC Mrkts 	|	 4255.29
Bittrex  -> IND RES   	|	 4335.95
Bittrex  -> Bitfinex 	|	 4731.2
Bittrex  -> Coinfloor 	|	 4360.05
Bittrex  -> KrakenUS 	|	 4237.81
Bittrex  -> Gemini   	|	 4235.68
Bittrex  -> Bitstamp 	|	 4239.53
Gemini   -> Bitfinex 	|	 223.61
Bitstamp -> Bitfinex 	|	 158.45
ETH Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	182.8  	|	199.4
CSpot B/S	|	194.9  	|	199.3
Coinjar 	|	195.5  	|	197.5
ACX.io   	|	194.7  	|	198.4
BTC Mrkts	|	196.2  	|	197.0
IND RES  	|	196.6  	|	199.0
Bitfinex	|	143.2  	|	143.3
KrakenUS	|	138.1  	|	138.4
Bittrex 	|	136.6  	|	136.9
Gemini  	|	138.1  	|	138.4
Bitstamp	|	138.3  	|	138.3
--------------------------------------------------------------------
ETH Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	182.81  	|	199.36
CSpot B/S	|	194.878  	|	199.268
Coinjar 	|	195.51  	|	197.5
ACX.io   	|	198.379  	|	198.445
BTC Mrkts	|	197.619  	|	244.324
IND RES  	|	198.942  	|	199.877
Bitfinex	|	203.359  	|	204.417
KrakenUS	|	250.272  	|	251.287
Bittrex 	|	194.496  	|	194.881
Gemini  	|	138.974  	|	167.231
Bitstamp	|	196.493  	|	196.533
--------------------------------------------------------------------


ETH MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
Coinspot -> Bitfinex 	|	 0.8%
Coinspot -> KrakenUS 	|	 24.3%
CSpot B/S -> KrakenUS 	|	 23.3%
Coinjar  -> Bitfinex 	|	 2.8%
Coinjar  -> KrakenUS 	|	 26.5%
ACX.io    -> Bitfinex 	|	 2.1%
ACX.io    -> KrakenUS 	|	 25.7%
BTC Mrkts -> KrakenUS 	|	 1.6%
IND RES   -> Bitfinex 	|	 1.1%
IND RES   -> KrakenUS 	|	 24.5%
Bitfinex -> KrakenUS 	|	 22.0%
Bittrex  -> ACX.io    	|	 1.3%
Bittrex  -> IND RES   	|	 1.4%
Bittrex  -> Bitfinex 	|	 3.9%
Bittrex  -> KrakenUS 	|	 27.9%
Gemini   -> Coinspot 	|	 8.1%
Gemini   -> CSpot B/S 	|	 14.3%
Gemini   -> Coinjar  	|	 16.7%
Gemini   -> ACX.io    	|	 18.2%
Gemini   -> BTC Mrkts 	|	 17.3%
Gemini   -> IND RES   	|	 18.2%
Gemini   -> Bitfinex 	|	 21.2%
Gemini   -> KrakenUS 	|	 49.2%
Gemini   -> Bittrex  	|	 15.8%
Gemini   -> Bitstamp 	|	 17.0%
Bitstamp -> Bitfinex 	|	 3.0%
Bitstamp -> KrakenUS 	|	 26.8%
--------------------------------------------------------------------


ETH MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
Coinspot -> KrakenUS 	|	 2368.26
CSpot B/S -> KrakenUS 	|	 2274.07
Coinjar  -> Bitfinex 	|	 217.91
Coinjar  -> KrakenUS 	|	 2588.24
ACX.io    -> Bitfinex 	|	 147.11
ACX.io    -> KrakenUS 	|	 2506.13
BTC Mrkts -> KrakenUS 	|	 100.67
IND RES   -> KrakenUS 	|	 2387.76
Bitfinex -> KrakenUS 	|	 2140.42
Bittrex  -> Bitfinex 	|	 329.51
Bittrex  -> KrakenUS 	|	 2731.75
Gemini   -> Coinspot 	|	 746.07
Gemini   -> CSpot B/S 	|	 1367.69
Gemini   -> Coinjar  	|	 1604.48
Gemini   -> ACX.io    	|	 1737.08
Gemini   -> BTC Mrkts 	|	 1671.6
Gemini   -> IND RES   	|	 1762.7
Gemini   -> Bitfinex 	|	 2054.86
Gemini   -> KrakenUS 	|	 4855.13
Gemini   -> Bittrex  	|	 1519.84
Gemini   -> Bitstamp 	|	 1639.29
Bitstamp -> Bitfinex 	|	 241.84
Bitstamp -> KrakenUS 	|	 2623.86
LTC Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	43.6  	|	46.8
CSpot B/S	|	44.7  	|	46.0
Coinjar 	|	45.0  	|	45.5
ACX.io   	|	44.7  	|	45.6
BTC Mrkts	|	45.3  	|	45.5
IND RES  	|	45.2  	|	45.9
Bitfinex	|	32.9  	|	32.9
KrakenUS	|	31.8  	|	31.8
Bittrex 	|	31.3  	|	31.6
Gemini  	|	31.7  	|	32.0
Bitstamp	|	31.8  	|	31.9
--------------------------------------------------------------------
LTC Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	43.56  	|	46.775
CSpot B/S	|	44.731  	|	45.992
Coinjar 	|	44.98  	|	45.49
ACX.io   	|	49.783  	|	51.195
BTC Mrkts	|	45.678  	|	47.746
IND RES  	|	45.809  	|	46.744
Bitfinex	|	46.803  	|	46.864
KrakenUS	|	57.479  	|	57.525
Bittrex 	|	45.116  	|	45.683
Gemini  	|	32.158  	|	36.637
Bitstamp	|	45.325  	|	45.475
--------------------------------------------------------------------


LTC MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
Coinspot -> ACX.io    	|	 5.2%
Coinspot -> KrakenUS 	|	 21.6%
CSpot B/S -> ACX.io    	|	 6.0%
CSpot B/S -> KrakenUS 	|	 22.7%
Coinjar  -> ACX.io    	|	 9.2%
Coinjar  -> Bitfinex 	|	 2.7%
Coinjar  -> KrakenUS 	|	 26.1%
ACX.io    -> KrakenUS 	|	 11.8%
BTC Mrkts -> ACX.io    	|	 3.5%
BTC Mrkts -> KrakenUS 	|	 19.5%
IND RES   -> ACX.io    	|	 5.8%
IND RES   -> KrakenUS 	|	 22.2%
Bitfinex -> ACX.io    	|	 5.8%
Bitfinex -> KrakenUS 	|	 22.2%
Bittrex  -> ACX.io    	|	 8.5%
Bittrex  -> Bitfinex 	|	 2.0%
Bittrex  -> KrakenUS 	|	 25.3%
Gemini   -> Coinspot 	|	 17.6%
Gemini   -> CSpot B/S 	|	 19.8%
Gemini   -> Coinjar  	|	 22.5%
Gemini   -> ACX.io    	|	 35.4%
Gemini   -> BTC Mrkts 	|	 23.8%
Gemini   -> IND RES   	|	 24.3%
Gemini   -> Bitfinex 	|	 27.3%
Gemini   -> KrakenUS 	|	 56.4%
Gemini   -> Bittrex  	|	 22.6%
Gemini   -> Bitstamp 	|	 23.2%
Bitstamp -> ACX.io    	|	 9.0%
Bitstamp -> Bitfinex 	|	 2.5%
Bitstamp -> KrakenUS 	|	 25.9%
--------------------------------------------------------------------


LTC MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
Coinspot -> ACX.io    	|	 442.57
Coinspot -> KrakenUS 	|	 2102.93
CSpot B/S -> ACX.io    	|	 523.85
CSpot B/S -> KrakenUS 	|	 2212.23
Coinjar  -> ACX.io    	|	 844.86
Coinjar  -> Bitfinex 	|	 209.77
Coinjar  -> KrakenUS 	|	 2551.68
ACX.io    -> KrakenUS 	|	 1121.89
BTC Mrkts -> ACX.io    	|	 268.95
BTC Mrkts -> KrakenUS 	|	 1895.86
IND RES   -> ACX.io    	|	 501.53
IND RES   -> KrakenUS 	|	 2162.97
Bitfinex -> ACX.io    	|	 505.21
Bitfinex -> KrakenUS 	|	 2162.46
Bittrex  -> ACX.io    	|	 772.0
Bittrex  -> Bitfinex 	|	 139.67
Bittrex  -> KrakenUS 	|	 2471.69
Gemini   -> Coinspot 	|	 1704.06
Gemini   -> CSpot B/S 	|	 1923.58
Gemini   -> Coinjar  	|	 2190.65
Gemini   -> ACX.io    	|	 3462.62
Gemini   -> BTC Mrkts 	|	 2322.24
Gemini   -> IND RES   	|	 2369.96
Gemini   -> Bitfinex 	|	 2669.24
Gemini   -> KrakenUS 	|	 5578.28
Gemini   -> Bittrex  	|	 2203.65
Gemini   -> Bitstamp 	|	 2260.92
Bitstamp -> ACX.io    	|	 821.8
Bitstamp -> Bitfinex 	|	 186.49
Bitstamp -> KrakenUS 	|	 2529.19
BCH Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
CSpot B/S	|	228.8  	|	234.2
ACX.io   	|	230.7  	|	594.0
IND RES  	|	226.3  	|	234.0
Coinfloor	|	81.0  	|	200.0
KrakenUS	|	162.8  	|	162.9
Bittrex 	|	159.6  	|	162.5
Gemini  	|	161.9  	|	162.9
Bitstamp	|	162.0  	|	163.0
--------------------------------------------------------------------
BCH Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
CSpot B/S	|	228.775  	|	234.192
ACX.io   	|	241.168  	|	241.168
IND RES  	|	244.242  	|	247.433
Coinfloor	|	243.568  	|	287.481
KrakenUS	|	162.66  	|	162.707
Bittrex 	|	162.258  	|	162.459
Gemini  	|	234.78  	|	250.684
Bitstamp	|	294.512  	|	295.645
--------------------------------------------------------------------


BCH MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
CSpot B/S -> IND RES   	|	 3.3%
CSpot B/S -> Coinfloor 	|	 2.8%
CSpot B/S -> Bitstamp 	|	 24.5%
ACX.io    -> Bitstamp 	|	 19.9%
IND RES   -> Bitstamp 	|	 18.8%
Coinfloor -> Bitstamp 	|	 2.0%
KrakenUS -> CSpot B/S 	|	 39.0%
KrakenUS -> ACX.io    	|	 45.6%
KrakenUS -> IND RES   	|	 49.5%
KrakenUS -> Coinfloor 	|	 48.9%
KrakenUS -> Gemini   	|	 43.5%
KrakenUS -> Bitstamp 	|	 80.2%
Bittrex  -> CSpot B/S 	|	 39.3%
Bittrex  -> ACX.io    	|	 46.0%
Bittrex  -> IND RES   	|	 49.9%
Bittrex  -> Coinfloor 	|	 49.2%
Bittrex  -> Gemini   	|	 43.8%
Bittrex  -> Bitstamp 	|	 80.6%
Gemini   -> Bitstamp 	|	 17.0%
--------------------------------------------------------------------


BCH MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
CSpot B/S -> IND RES   	|	 267.62
CSpot B/S -> Coinfloor 	|	 199.84
CSpot B/S -> Bitstamp 	|	 2390.16
ACX.io    -> Bitstamp 	|	 1926.39
IND RES   -> Bitstamp 	|	 1818.96
Coinfloor -> Bitstamp 	|	 139.07
KrakenUS -> CSpot B/S 	|	 3842.81
KrakenUS -> ACX.io    	|	 4504.52
KrakenUS -> IND RES   	|	 4892.43
KrakenUS -> Coinfloor 	|	 4812.0
KrakenUS -> Gemini   	|	 4291.87
KrakenUS -> Bitstamp 	|	 7958.06
Bittrex  -> CSpot B/S 	|	 3873.47
Bittrex  -> ACX.io    	|	 4536.34
Bittrex  -> IND RES   	|	 4924.54
Bittrex  -> Coinfloor 	|	 4844.05
Bittrex  -> Gemini   	|	 4323.1
Bittrex  -> Bitstamp 	|	 7994.87
Gemini   -> Bitstamp 	|	 1645.6
OMG Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
CSpot B/S	|	2.0  	|	2.1
IND RES  	|	2.0  	|	3.0
Bitfinex	|	1.5  	|	1.5
Bittrex 	|	1.4  	|	1.4
--------------------------------------------------------------------
OMG Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
CSpot B/S	|	1.992  	|	2.053
IND RES  	|	3.992  	|	4.986
Bitfinex	|	1.474  	|	1.483
Bittrex 	|	1.416  	|	1.421
--------------------------------------------------------------------


OMG MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
CSpot B/S -> IND RES   	|	 91.4%
Bitfinex -> CSpot B/S 	|	 33.3%
Bitfinex -> IND RES   	|	 167.1%
Bittrex  -> CSpot B/S 	|	 39.1%
Bittrex  -> IND RES   	|	 178.8%
Bittrex  -> Bitfinex 	|	 3.5%
--------------------------------------------------------------------


OMG MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
CSpot B/S -> IND RES   	|	 9080.82
Bitfinex -> CSpot B/S 	|	 3272.22
Bitfinex -> IND RES   	|	 16652.37
Bittrex  -> CSpot B/S 	|	 3845.38
Bittrex  -> IND RES   	|	 17822.61
Bittrex  -> Bitfinex 	|	 292.18
TRX Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	0.0  	|	0.0
CSpot B/S	|	0.0  	|	0.0
Bitfinex	|	0.0  	|	0.0
Bittrex 	|	0.0  	|	0.0
--------------------------------------------------------------------
TRX Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	0.026  	|	0.03
CSpot B/S	|	0.028  	|	0.029
Bitfinex	|	0.021  	|	0.021
Bittrex 	|	0.02  	|	0.02
--------------------------------------------------------------------


TRX MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
Bitfinex -> Coinspot 	|	 24.4%
Bitfinex -> CSpot B/S 	|	 32.8%
Bittrex  -> Coinspot 	|	 29.9%
Bittrex  -> CSpot B/S 	|	 38.7%
Bittrex  -> Bitfinex 	|	 4.1%
--------------------------------------------------------------------


TRX MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
Bitfinex -> Coinspot 	|	 2385.55
Bitfinex -> CSpot B/S 	|	 3223.58
Bittrex  -> Coinspot 	|	 2927.36
Bittrex  -> CSpot B/S 	|	 3807.53
Bittrex  -> Bitfinex 	|	 353.53


Rates are :

AUD->USD: 0.704026
AUD->NZD: 1.049846
AUD->GBP: 0.554002
AUD->EUR: 0.615491