BTC Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	5354.0  	|	5460.5
CSpot B/S	|	5406.5  	|	5441.3
Coinjar 	|	5415.0  	|	5442.7
ACX.io   	|	5412.8  	|	5436.8
BTC Mrkts	|	5441.0  	|	5446.3
IND RES  	|	5440.5  	|	5467.2
Bitfinex	|	3956.2  	|	3956.3
Coinfloor	|	3027.0  	|	3032.0
KrakenUS	|	3821.1  	|	3823.0
Bittrex 	|	3776.8  	|	3785.3
Gemini  	|	3822.6  	|	3823.4
Bitstamp	|	3819.7  	|	3824.8
--------------------------------------------------------------------
BTC Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	5354.0  	|	5460.54
CSpot B/S	|	5406.515  	|	5441.287
Coinjar 	|	5415.0  	|	5442.714
ACX.io   	|	5445.786  	|	5455.668
BTC Mrkts	|	5448.162  	|	5452.019
IND RES  	|	5475.748  	|	5515.005
Bitfinex	|	5619.537  	|	5620.51
Coinfloor	|	5472.904  	|	5498.197
KrakenUS	|	5431.432  	|	5431.504
Bittrex 	|	3785.353  	|	3786.061
Gemini  	|	5431.572  	|	5474.889
Bitstamp	|	5433.04  	|	5457.727
--------------------------------------------------------------------


BTC MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
Coinspot -> Bitfinex 	|	 1.7%
CSpot B/S -> Bitfinex 	|	 1.1%
Coinjar  -> Bitfinex 	|	 3.0%
ACX.io    -> Bitfinex 	|	 2.6%
BTC Mrkts -> Bitfinex 	|	 2.3%
IND RES   -> Bitfinex 	|	 1.2%
Coinfloor -> Bitfinex 	|	 1.8%
KrakenUS -> Bitfinex 	|	 3.0%
Bittrex  -> Coinspot 	|	 40.2%
Bittrex  -> CSpot B/S 	|	 40.6%
Bittrex  -> Coinjar  	|	 42.8%
Bittrex  -> ACX.io    	|	 43.4%
Bittrex  -> BTC Mrkts 	|	 43.1%
Bittrex  -> IND RES   	|	 43.9%
Bittrex  -> Bitfinex 	|	 48.0%
Bittrex  -> Coinfloor 	|	 44.1%
Bittrex  -> KrakenUS 	|	 43.0%
Bittrex  -> Gemini   	|	 43.0%
Bittrex  -> Bitstamp 	|	 43.0%
Gemini   -> Bitfinex 	|	 2.2%
Bitstamp -> Bitfinex 	|	 2.5%
--------------------------------------------------------------------


BTC MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
Coinspot -> Bitfinex 	|	 110.66
Coinjar  -> Bitfinex 	|	 246.12
ACX.io    -> Bitfinex 	|	 199.85
BTC Mrkts -> Bitfinex 	|	 169.5
Coinfloor -> Bitfinex 	|	 115.17
KrakenUS -> Bitfinex 	|	 240.67
Bittrex  -> Coinspot 	|	 3955.83
Bittrex  -> CSpot B/S 	|	 3994.53
Bittrex  -> Coinjar  	|	 4215.95
Bittrex  -> ACX.io    	|	 4258.26
Bittrex  -> BTC Mrkts 	|	 4244.54
Bittrex  -> IND RES   	|	 4329.4
Bittrex  -> Bitfinex 	|	 4737.18
Bittrex  -> Coinfloor 	|	 4344.89
Bittrex  -> KrakenUS 	|	 4235.35
Bittrex  -> Gemini   	|	 4235.72
Bittrex  -> Bitstamp 	|	 4239.6
Gemini   -> Bitfinex 	|	 158.68
Bitstamp -> Bitfinex 	|	 190.96
ETH Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	182.8  	|	199.4
CSpot B/S	|	193.2  	|	197.6
Coinjar 	|	194.5  	|	196.2
ACX.io   	|	193.5  	|	197.0
BTC Mrkts	|	195.0  	|	195.8
IND RES  	|	195.4  	|	198.4
Bitfinex	|	142.2  	|	142.2
KrakenUS	|	137.2  	|	137.6
Bittrex 	|	135.8  	|	135.9
Gemini  	|	137.3  	|	137.5
Bitstamp	|	137.4  	|	137.6
--------------------------------------------------------------------
ETH Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	182.81  	|	199.36
CSpot B/S	|	193.189  	|	197.577
Coinjar 	|	194.53  	|	196.198
ACX.io   	|	197.043  	|	200.168
BTC Mrkts	|	196.083  	|	214.279
IND RES  	|	198.23  	|	212.008
Bitfinex	|	202.031  	|	202.141
KrakenUS	|	248.337  	|	248.473
Bittrex 	|	193.204  	|	193.595
Gemini  	|	137.933  	|	242.625
Bitstamp	|	195.528  	|	195.888
--------------------------------------------------------------------


ETH MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
Coinspot -> KrakenUS 	|	 23.3%
CSpot B/S -> KrakenUS 	|	 23.4%
Coinjar  -> Bitfinex 	|	 2.8%
Coinjar  -> KrakenUS 	|	 26.3%
ACX.io    -> KrakenUS 	|	 23.6%
BTC Mrkts -> KrakenUS 	|	 15.0%
IND RES   -> KrakenUS 	|	 16.4%
Bitfinex -> KrakenUS 	|	 22.4%
Bittrex  -> ACX.io    	|	 1.3%
Bittrex  -> IND RES   	|	 1.7%
Bittrex  -> Bitfinex 	|	 3.9%
Bittrex  -> KrakenUS 	|	 27.8%
Gemini   -> KrakenUS 	|	 1.9%
Bitstamp -> Bitfinex 	|	 2.7%
Bitstamp -> KrakenUS 	|	 26.3%
--------------------------------------------------------------------


ETH MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
Coinspot -> KrakenUS 	|	 2271.18
CSpot B/S -> KrakenUS 	|	 2283.63
Coinjar  -> Bitfinex 	|	 218.52
Coinjar  -> KrakenUS 	|	 2573.7
ACX.io    -> KrakenUS 	|	 2300.88
BTC Mrkts -> KrakenUS 	|	 1446.68
IND RES   -> KrakenUS 	|	 1580.03
Bitfinex -> KrakenUS 	|	 2182.56
Bittrex  -> IND RES   	|	 105.91
Bittrex  -> Bitfinex 	|	 330.23
Bittrex  -> KrakenUS 	|	 2717.14
Gemini   -> KrakenUS 	|	 124.9
Bitstamp -> Bitfinex 	|	 208.07
Bitstamp -> KrakenUS 	|	 2566.99
LTC Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	43.6  	|	46.8
CSpot B/S	|	44.6  	|	45.7
Coinjar 	|	44.8  	|	45.3
ACX.io   	|	44.5  	|	45.5
BTC Mrkts	|	45.3  	|	45.3
IND RES  	|	44.8  	|	45.4
Bitfinex	|	32.8  	|	32.8
KrakenUS	|	31.7  	|	31.8
Bittrex 	|	31.3  	|	31.4
Gemini  	|	31.6  	|	31.9
Bitstamp	|	31.6  	|	31.8
--------------------------------------------------------------------
LTC Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	43.56  	|	46.775
CSpot B/S	|	44.613  	|	45.715
Coinjar 	|	44.77  	|	45.275
ACX.io   	|	45.499  	|	45.617
BTC Mrkts	|	45.635  	|	46.742
IND RES  	|	46.078  	|	46.275
Bitfinex	|	46.686  	|	46.714
KrakenUS	|	57.352  	|	57.504
Bittrex 	|	45.006  	|	45.637
Gemini  	|	32.22  	|	39.262
Bitstamp	|	45.152  	|	45.256
--------------------------------------------------------------------


LTC MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
Coinspot -> KrakenUS 	|	 21.4%
CSpot B/S -> KrakenUS 	|	 23.2%
Coinjar  -> IND RES   	|	 1.3%
Coinjar  -> Bitfinex 	|	 2.9%
Coinjar  -> KrakenUS 	|	 26.4%
ACX.io    -> Bitfinex 	|	 1.9%
ACX.io    -> KrakenUS 	|	 25.3%
BTC Mrkts -> KrakenUS 	|	 21.9%
IND RES   -> KrakenUS 	|	 23.2%
Bitfinex -> KrakenUS 	|	 22.3%
Bittrex  -> Bitfinex 	|	 1.8%
Bittrex  -> KrakenUS 	|	 25.2%
Gemini   -> Coinspot 	|	 9.7%
Gemini   -> CSpot B/S 	|	 11.4%
Gemini   -> Coinjar  	|	 13.8%
Gemini   -> ACX.io    	|	 15.4%
Gemini   -> BTC Mrkts 	|	 15.4%
Gemini   -> IND RES   	|	 16.6%
Gemini   -> Bitfinex 	|	 18.5%
Gemini   -> KrakenUS 	|	 45.6%
Gemini   -> Bittrex  	|	 14.1%
Gemini   -> Bitstamp 	|	 14.5%
Bitstamp -> IND RES   	|	 1.1%
Bitstamp -> Bitfinex 	|	 2.7%
Bitstamp -> KrakenUS 	|	 26.2%
--------------------------------------------------------------------


LTC MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
Coinspot -> KrakenUS 	|	 2075.8
CSpot B/S -> KrakenUS 	|	 2260.05
Coinjar  -> Bitfinex 	|	 232.76
Coinjar  -> KrakenUS 	|	 2583.65
ACX.io    -> Bitfinex 	|	 133.83
ACX.io    -> KrakenUS 	|	 2467.09
BTC Mrkts -> KrakenUS 	|	 2127.26
IND RES   -> KrakenUS 	|	 2260.41
Bitfinex -> KrakenUS 	|	 2174.54
Bittrex  -> Bitfinex 	|	 124.36
Bittrex  -> KrakenUS 	|	 2456.6
Gemini   -> Coinspot 	|	 909.16
Gemini   -> CSpot B/S 	|	 1077.36
Gemini   -> Coinjar  	|	 1316.35
Gemini   -> ACX.io    	|	 1462.9
Gemini   -> BTC Mrkts 	|	 1477.68
Gemini   -> IND RES   	|	 1602.6
Gemini   -> Bitfinex 	|	 1785.33
Gemini   -> KrakenUS 	|	 4497.05
Gemini   -> Bittrex  	|	 1352.52
Gemini   -> Bitstamp 	|	 1389.76
Bitstamp -> Bitfinex 	|	 210.5
Bitstamp -> KrakenUS 	|	 2562.42
BCH Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
CSpot B/S	|	228.0  	|	233.2
ACX.io   	|	229.1  	|	594.0
IND RES  	|	224.9  	|	235.5
Coinfloor	|	81.0  	|	200.0
KrakenUS	|	161.8  	|	162.0
Bittrex 	|	159.5  	|	160.6
Gemini  	|	161.3  	|	162.3
Bitstamp	|	161.4  	|	162.3
--------------------------------------------------------------------
BCH Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
CSpot B/S	|	227.952  	|	233.23
ACX.io   	|	240.301  	|	240.301
IND RES  	|	244.427  	|	246.821
Coinfloor	|	243.951  	|	286.559
KrakenUS	|	162.167  	|	162.355
Bittrex 	|	160.963  	|	161.415
Gemini  	|	231.57  	|	233.693
Bitstamp	|	293.241  	|	293.643
--------------------------------------------------------------------


BCH MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
CSpot B/S -> IND RES   	|	 3.8%
CSpot B/S -> Coinfloor 	|	 3.4%
CSpot B/S -> Bitstamp 	|	 24.5%
ACX.io    -> Bitstamp 	|	 19.8%
IND RES   -> Bitstamp 	|	 18.5%
Coinfloor -> Bitstamp 	|	 1.9%
KrakenUS -> CSpot B/S 	|	 38.8%
KrakenUS -> ACX.io    	|	 45.4%
KrakenUS -> IND RES   	|	 49.9%
KrakenUS -> Coinfloor 	|	 49.5%
KrakenUS -> Gemini   	|	 41.8%
KrakenUS -> Bitstamp 	|	 79.8%
Bittrex  -> CSpot B/S 	|	 39.7%
Bittrex  -> ACX.io    	|	 46.4%
Bittrex  -> IND RES   	|	 50.9%
Bittrex  -> Coinfloor 	|	 50.5%
Bittrex  -> Gemini   	|	 42.8%
Bittrex  -> Bitstamp 	|	 80.9%
Gemini   -> IND RES   	|	 4.4%
Gemini   -> Coinfloor 	|	 4.0%
Gemini   -> Bitstamp 	|	 25.0%
--------------------------------------------------------------------


BCH MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
CSpot B/S -> IND RES   	|	 318.57
CSpot B/S -> Coinfloor 	|	 259.14
CSpot B/S -> Bitstamp 	|	 2387.51
ACX.io    -> Bitstamp 	|	 1917.54
IND RES   -> Bitstamp 	|	 1796.97
Coinfloor -> Bitstamp 	|	 127.67
KrakenUS -> CSpot B/S 	|	 3822.64
KrakenUS -> ACX.io    	|	 4483.26
KrakenUS -> IND RES   	|	 4936.39
KrakenUS -> Coinfloor 	|	 4868.05
KrakenUS -> Gemini   	|	 4125.47
KrakenUS -> Bitstamp 	|	 7919.0
Bittrex  -> CSpot B/S 	|	 3913.61
Bittrex  -> ACX.io    	|	 4578.65
Bittrex  -> IND RES   	|	 5033.27
Bittrex  -> Coinfloor 	|	 4964.75
Bittrex  -> Gemini   	|	 4217.73
Bittrex  -> Bitstamp 	|	 8033.38
Gemini   -> IND RES   	|	 380.57
Gemini   -> Coinfloor 	|	 321.18
Gemini   -> Bitstamp 	|	 2445.36
OMG Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
CSpot B/S	|	2.0  	|	2.0
IND RES  	|	2.0  	|	3.0
Bitfinex	|	1.5  	|	1.5
Bittrex 	|	1.4  	|	1.4
--------------------------------------------------------------------
OMG Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
CSpot B/S	|	1.988  	|	2.046
IND RES  	|	3.962  	|	5.001
Bitfinex	|	1.47  	|	1.484
Bittrex 	|	1.408  	|	1.413
--------------------------------------------------------------------


OMG MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
CSpot B/S -> IND RES   	|	 90.6%
Bitfinex -> CSpot B/S 	|	 32.9%
Bitfinex -> IND RES   	|	 165.0%
Bittrex  -> CSpot B/S 	|	 39.5%
Bittrex  -> IND RES   	|	 178.3%
Bittrex  -> Bitfinex 	|	 3.9%
--------------------------------------------------------------------


OMG MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
CSpot B/S -> IND RES   	|	 9002.12
Bitfinex -> CSpot B/S 	|	 3237.15
Bitfinex -> IND RES   	|	 16439.47
Bittrex  -> CSpot B/S 	|	 3893.1
Bittrex  -> IND RES   	|	 17768.39
Bittrex  -> Bitfinex 	|	 325.31
TRX Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	0.0  	|	0.0
CSpot B/S	|	0.0  	|	0.0
Bitfinex	|	0.0  	|	0.0
Bittrex 	|	0.0  	|	0.0
--------------------------------------------------------------------
TRX Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	0.026  	|	0.03
CSpot B/S	|	0.028  	|	0.029
Bitfinex	|	0.021  	|	0.021
Bittrex 	|	0.02  	|	0.02
--------------------------------------------------------------------


TRX MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
Bitfinex -> Coinspot 	|	 25.4%
Bitfinex -> CSpot B/S 	|	 33.0%
Bittrex  -> Coinspot 	|	 30.7%
Bittrex  -> CSpot B/S 	|	 38.6%
Bittrex  -> Bitfinex 	|	 4.0%
--------------------------------------------------------------------


TRX MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
Bitfinex -> Coinspot 	|	 2485.43
Bitfinex -> CSpot B/S 	|	 3239.73
Bittrex  -> Coinspot 	|	 3011.43
Bittrex  -> CSpot B/S 	|	 3802.74
Bittrex  -> Bitfinex 	|	 338.18


Rates are :

AUD->USD: 0.704026
AUD->NZD: 1.049846
AUD->GBP: 0.554002
AUD->EUR: 0.615491