BTC Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	5354.0  	|	5460.5
CSpot B/S	|	5406.4  	|	5439.9
Coinjar 	|	5415.0  	|	5441.9
ACX.io   	|	5412.8  	|	5436.8
BTC Mrkts	|	5441.0  	|	5445.8
IND RES  	|	5440.1  	|	5465.2
Bitfinex	|	3956.5  	|	3956.6
Coinfloor	|	3024.0  	|	3030.0
KrakenUS	|	3821.1  	|	3824.8
Bittrex 	|	3775.0  	|	3782.7
Gemini  	|	3822.6  	|	3822.6
Bitstamp	|	3817.4  	|	3823.2
--------------------------------------------------------------------
BTC Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	5354.0  	|	5460.54
CSpot B/S	|	5406.43  	|	5439.907
Coinjar 	|	5415.0  	|	5441.871
ACX.io   	|	5445.786  	|	5455.926
BTC Mrkts	|	5446.556  	|	5454.21
IND RES  	|	5465.255  	|	5466.914
Bitfinex	|	5619.963  	|	5622.039
Coinfloor	|	5474.302  	|	6068.432
KrakenUS	|	5431.476  	|	5435.06
Bittrex 	|	3782.678  	|	3783.832
Gemini  	|	5429.657  	|	5429.714
Bitstamp	|	5433.457  	|	5451.182
--------------------------------------------------------------------


BTC MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
Coinspot -> Bitfinex 	|	 1.7%
CSpot B/S -> Bitfinex 	|	 1.1%
Coinjar  -> Bitfinex 	|	 3.1%
ACX.io    -> Bitfinex 	|	 2.6%
BTC Mrkts -> Bitfinex 	|	 2.2%
IND RES   -> Bitfinex 	|	 2.1%
KrakenUS -> Bitfinex 	|	 3.0%
Bittrex  -> Coinspot 	|	 40.2%
Bittrex  -> CSpot B/S 	|	 40.6%
Bittrex  -> Coinjar  	|	 42.8%
Bittrex  -> ACX.io    	|	 43.5%
Bittrex  -> BTC Mrkts 	|	 43.1%
Bittrex  -> IND RES   	|	 43.7%
Bittrex  -> Bitfinex 	|	 48.1%
Bittrex  -> Coinfloor 	|	 44.2%
Bittrex  -> KrakenUS 	|	 43.0%
Bittrex  -> Gemini   	|	 43.0%
Bittrex  -> Bitstamp 	|	 43.1%
Gemini   -> Bitfinex 	|	 3.1%
Bitstamp -> Bitfinex 	|	 2.6%
--------------------------------------------------------------------


BTC MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
Coinspot -> Bitfinex 	|	 111.44
Coinjar  -> Bitfinex 	|	 248.5
ACX.io    -> Bitfinex 	|	 200.14
BTC Mrkts -> Bitfinex 	|	 166.14
IND RES   -> Bitfinex 	|	 151.44
KrakenUS -> Bitfinex 	|	 234.69
Bittrex  -> Coinspot 	|	 3964.16
Bittrex  -> CSpot B/S 	|	 4002.72
Bittrex  -> Coinjar  	|	 4224.37
Bittrex  -> ACX.io    	|	 4266.73
Bittrex  -> BTC Mrkts 	|	 4248.77
Bittrex  -> IND RES   	|	 4310.19
Bittrex  -> Bitfinex 	|	 4747.05
Bittrex  -> Coinfloor 	|	 4357.1
Bittrex  -> KrakenUS 	|	 4243.91
Bittrex  -> Gemini   	|	 4239.11
Bittrex  -> Bitstamp 	|	 4249.15
Gemini   -> Bitfinex 	|	 244.87
Bitstamp -> Bitfinex 	|	 204.1
ETH Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	182.8  	|	199.4
CSpot B/S	|	193.5  	|	197.7
Coinjar 	|	194.8  	|	199.2
ACX.io   	|	193.3  	|	197.1
BTC Mrkts	|	194.8  	|	195.5
IND RES  	|	195.2  	|	196.9
Bitfinex	|	142.2  	|	142.2
KrakenUS	|	137.2  	|	137.4
Bittrex 	|	135.6  	|	135.7
Gemini  	|	137.4  	|	137.5
Bitstamp	|	137.4  	|	137.6
--------------------------------------------------------------------
ETH Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	182.81  	|	199.36
CSpot B/S	|	193.482  	|	197.667
Coinjar 	|	194.811  	|	199.151
ACX.io   	|	197.072  	|	197.171
BTC Mrkts	|	196.063  	|	213.155
IND RES  	|	197.0  	|	197.236
Bitfinex	|	201.972  	|	202.395
KrakenUS	|	248.282  	|	248.971
Bittrex 	|	192.754  	|	192.774
Gemini  	|	137.665  	|	138.611
Bitstamp	|	195.577  	|	196.05
--------------------------------------------------------------------


ETH MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
Coinspot -> KrakenUS 	|	 23.3%
CSpot B/S -> KrakenUS 	|	 23.4%
Coinjar  -> Bitfinex 	|	 1.2%
Coinjar  -> KrakenUS 	|	 24.4%
ACX.io    -> Bitfinex 	|	 2.0%
ACX.io    -> KrakenUS 	|	 25.5%
BTC Mrkts -> KrakenUS 	|	 15.6%
IND RES   -> Bitfinex 	|	 1.7%
IND RES   -> KrakenUS 	|	 25.2%
Bitfinex -> KrakenUS 	|	 22.2%
Bittrex  -> Coinjar  	|	 0.8%
Bittrex  -> ACX.io    	|	 1.8%
Bittrex  -> BTC Mrkts 	|	 0.9%
Bittrex  -> IND RES   	|	 1.5%
Bittrex  -> Bitfinex 	|	 4.3%
Bittrex  -> KrakenUS 	|	 28.3%
Bittrex  -> Bitstamp 	|	 1.0%
Gemini   -> Coinspot 	|	 30.6%
Gemini   -> CSpot B/S 	|	 37.3%
Gemini   -> Coinjar  	|	 40.3%
Gemini   -> ACX.io    	|	 41.7%
Gemini   -> BTC Mrkts 	|	 40.6%
Gemini   -> IND RES   	|	 41.4%
Gemini   -> Bitfinex 	|	 45.3%
Gemini   -> KrakenUS 	|	 78.6%
Gemini   -> Bittrex  	|	 38.6%
Gemini   -> Bitstamp 	|	 40.6%
Bitstamp -> Bitfinex 	|	 2.6%
Bitstamp -> KrakenUS 	|	 26.1%
--------------------------------------------------------------------


ETH MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
Coinspot -> KrakenUS 	|	 2268.43
CSpot B/S -> KrakenUS 	|	 2275.07
Coinjar  -> KrakenUS 	|	 2383.29
ACX.io    -> Bitfinex 	|	 142.97
ACX.io    -> KrakenUS 	|	 2486.68
BTC Mrkts -> KrakenUS 	|	 1505.18
IND RES   -> Bitfinex 	|	 111.61
IND RES   -> KrakenUS 	|	 2454.55
Bitfinex -> KrakenUS 	|	 2164.41
Bittrex  -> Bitfinex 	|	 371.63
Bittrex  -> KrakenUS 	|	 2768.92
Gemini   -> Coinspot 	|	 3003.2
Gemini   -> CSpot B/S 	|	 3673.09
Gemini   -> Coinjar  	|	 3968.02
Gemini   -> ACX.io    	|	 4092.11
Gemini   -> BTC Mrkts 	|	 3999.3
Gemini   -> IND RES   	|	 4078.94
Gemini   -> Bitfinex 	|	 4465.64
Gemini   -> KrakenUS 	|	 7801.63
Gemini   -> Bittrex  	|	 3795.62
Gemini   -> Bitstamp 	|	 3999.24
Bitstamp -> Bitfinex 	|	 196.54
Bitstamp -> KrakenUS 	|	 2553.68
LTC Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	43.6  	|	46.8
CSpot B/S	|	44.6  	|	45.7
Coinjar 	|	44.8  	|	45.3
ACX.io   	|	44.5  	|	45.5
BTC Mrkts	|	45.3  	|	45.3
IND RES  	|	44.8  	|	45.4
Bitfinex	|	32.8  	|	32.8
KrakenUS	|	31.7  	|	31.7
Bittrex 	|	31.3  	|	31.4
Gemini  	|	31.6  	|	31.9
Bitstamp	|	31.6  	|	31.8
--------------------------------------------------------------------
LTC Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	43.56  	|	46.775
CSpot B/S	|	44.631  	|	45.716
Coinjar 	|	44.77  	|	45.275
ACX.io   	|	47.338  	|	48.718
BTC Mrkts	|	45.635  	|	46.742
IND RES  	|	45.815  	|	47.154
Bitfinex	|	46.653  	|	46.724
KrakenUS	|	57.304  	|	57.309
Bittrex 	|	44.86  	|	45.889
Gemini  	|	31.835  	|	31.875
Bitstamp	|	45.153  	|	45.185
--------------------------------------------------------------------


LTC MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
Coinspot -> KrakenUS 	|	 21.3%
CSpot B/S -> ACX.io    	|	 1.3%
CSpot B/S -> KrakenUS 	|	 23.1%
Coinjar  -> ACX.io    	|	 4.3%
Coinjar  -> IND RES   	|	 0.7%
Coinjar  -> Bitfinex 	|	 2.8%
Coinjar  -> KrakenUS 	|	 26.3%
ACX.io    -> KrakenUS 	|	 17.2%
BTC Mrkts -> KrakenUS 	|	 21.7%
IND RES   -> KrakenUS 	|	 20.8%
Bitfinex -> ACX.io    	|	 0.9%
Bitfinex -> KrakenUS 	|	 22.2%
Bittrex  -> ACX.io    	|	 2.7%
Bittrex  -> Bitfinex 	|	 1.2%
Bittrex  -> KrakenUS 	|	 24.4%
Gemini   -> Coinspot 	|	 35.4%
Gemini   -> CSpot B/S 	|	 37.8%
Gemini   -> Coinjar  	|	 40.2%
Gemini   -> ACX.io    	|	 48.1%
Gemini   -> BTC Mrkts 	|	 42.3%
Gemini   -> IND RES   	|	 43.0%
Gemini   -> Bitfinex 	|	 45.9%
Gemini   -> KrakenUS 	|	 79.3%
Gemini   -> Bittrex  	|	 40.2%
Gemini   -> Bitstamp 	|	 41.2%
Bitstamp -> ACX.io    	|	 4.3%
Bitstamp -> Bitfinex 	|	 2.8%
Bitstamp -> KrakenUS 	|	 26.3%
--------------------------------------------------------------------


LTC MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
Coinspot -> KrakenUS 	|	 2065.5
CSpot B/S -> KrakenUS 	|	 2249.2
Coinjar  -> ACX.io    	|	 356.89
Coinjar  -> Bitfinex 	|	 225.5
Coinjar  -> KrakenUS 	|	 2573.0
ACX.io    -> KrakenUS 	|	 1656.96
BTC Mrkts -> KrakenUS 	|	 2116.94
IND RES   -> KrakenUS 	|	 2018.96
Bitfinex -> KrakenUS 	|	 2161.65
Bittrex  -> ACX.io    	|	 190.42
Bittrex  -> KrakenUS 	|	 2377.13
Gemini   -> Coinspot 	|	 3480.54
Gemini   -> CSpot B/S 	|	 3716.51
Gemini   -> Coinjar  	|	 3959.15
Gemini   -> ACX.io    	|	 4725.95
Gemini   -> BTC Mrkts 	|	 4171.55
Gemini   -> IND RES   	|	 4240.11
Gemini   -> Bitfinex 	|	 4530.92
Gemini   -> KrakenUS 	|	 7867.47
Gemini   -> Bittrex  	|	 3963.35
Gemini   -> Bitstamp 	|	 4055.47
Bitstamp -> ACX.io    	|	 351.03
Bitstamp -> Bitfinex 	|	 219.35
Bitstamp -> KrakenUS 	|	 2571.56
BCH Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
CSpot B/S	|	227.2  	|	232.2
ACX.io   	|	228.2  	|	594.0
IND RES  	|	228.3  	|	232.4
Coinfloor	|	81.0  	|	200.0
KrakenUS	|	161.0  	|	161.3
Bittrex 	|	159.1  	|	160.1
Gemini  	|	160.7  	|	161.7
Bitstamp	|	160.8  	|	161.9
--------------------------------------------------------------------
BCH Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
CSpot B/S	|	227.187  	|	232.201
ACX.io   	|	239.494  	|	239.494
IND RES  	|	243.017  	|	245.796
Coinfloor	|	244.307  	|	285.7
KrakenUS	|	161.48  	|	162.204
Bittrex 	|	160.389  	|	160.909
Gemini  	|	233.605  	|	266.056
Bitstamp	|	292.238  	|	293.118
--------------------------------------------------------------------


BCH MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
CSpot B/S -> IND RES   	|	 3.6%
CSpot B/S -> Coinfloor 	|	 4.0%
CSpot B/S -> Bitstamp 	|	 24.6%
ACX.io    -> Bitstamp 	|	 19.8%
IND RES   -> Bitstamp 	|	 18.6%
Coinfloor -> Bitstamp 	|	 1.8%
KrakenUS -> CSpot B/S 	|	 38.5%
KrakenUS -> ACX.io    	|	 45.0%
KrakenUS -> IND RES   	|	 49.2%
KrakenUS -> Coinfloor 	|	 49.8%
KrakenUS -> Gemini   	|	 43.2%
KrakenUS -> Bitstamp 	|	 79.3%
Bittrex  -> CSpot B/S 	|	 39.7%
Bittrex  -> ACX.io    	|	 46.4%
Bittrex  -> IND RES   	|	 50.5%
Bittrex  -> Coinfloor 	|	 51.1%
Bittrex  -> Gemini   	|	 44.5%
Bittrex  -> Bitstamp 	|	 80.9%
Gemini   -> Bitstamp 	|	 9.4%
--------------------------------------------------------------------


BCH MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
CSpot B/S -> IND RES   	|	 304.28
CSpot B/S -> Coinfloor 	|	 320.84
CSpot B/S -> Bitstamp 	|	 2400.07
ACX.io    -> Bitstamp 	|	 1916.81
IND RES   -> Bitstamp 	|	 1805.71
Coinfloor -> Bitstamp 	|	 123.33
KrakenUS -> CSpot B/S 	|	 3788.47
KrakenUS -> ACX.io    	|	 4447.23
KrakenUS -> IND RES   	|	 4863.41
KrakenUS -> Coinfloor 	|	 4903.95
KrakenUS -> Gemini   	|	 4264.14
KrakenUS -> Bitstamp 	|	 7873.96
Bittrex  -> CSpot B/S 	|	 3910.43
Bittrex  -> ACX.io    	|	 4575.3
Bittrex  -> IND RES   	|	 4993.22
Bittrex  -> Coinfloor 	|	 5034.4
Bittrex  -> Gemini   	|	 4389.29
Bittrex  -> Bitstamp 	|	 8028.2
Gemini   -> Bitstamp 	|	 881.35
OMG Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
CSpot B/S	|	2.0  	|	2.0
IND RES  	|	2.0  	|	3.0
Bitfinex	|	1.5  	|	1.5
Bittrex 	|	1.4  	|	1.4
--------------------------------------------------------------------
OMG Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
CSpot B/S	|	1.989  	|	2.046
IND RES  	|	3.97  	|	5.002
Bitfinex	|	1.471  	|	1.491
Bittrex 	|	1.413  	|	1.419
--------------------------------------------------------------------


OMG MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
CSpot B/S -> IND RES   	|	 91.0%
Bitfinex -> CSpot B/S 	|	 32.3%
Bitfinex -> IND RES   	|	 164.2%
Bittrex  -> CSpot B/S 	|	 39.0%
Bittrex  -> IND RES   	|	 177.6%
Bittrex  -> Bitfinex 	|	 3.5%
--------------------------------------------------------------------


OMG MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
CSpot B/S -> IND RES   	|	 9040.95
Bitfinex -> CSpot B/S 	|	 3177.01
Bitfinex -> IND RES   	|	 16359.67
Bittrex  -> CSpot B/S 	|	 3834.98
Bittrex  -> IND RES   	|	 17694.66
Bittrex  -> Bitfinex 	|	 285.69
TRX Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	0.0  	|	0.0
CSpot B/S	|	0.0  	|	0.0
Bitfinex	|	0.0  	|	0.0
Bittrex 	|	0.0  	|	0.0
--------------------------------------------------------------------
TRX Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	0.026  	|	0.03
CSpot B/S	|	0.028  	|	0.029
Bitfinex	|	0.021  	|	0.021
Bittrex 	|	0.02  	|	0.02
--------------------------------------------------------------------


TRX MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
Bitfinex -> Coinspot 	|	 25.3%
Bitfinex -> CSpot B/S 	|	 33.2%
Bittrex  -> Coinspot 	|	 30.8%
Bittrex  -> CSpot B/S 	|	 39.0%
Bittrex  -> Bitfinex 	|	 4.0%
--------------------------------------------------------------------


TRX MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
Bitfinex -> Coinspot 	|	 2476.61
Bitfinex -> CSpot B/S 	|	 3261.72
Bittrex  -> Coinspot 	|	 3014.87
Bittrex  -> CSpot B/S 	|	 3839.21
Bittrex  -> Bitfinex 	|	 335.69


Rates are :

AUD->USD: 0.704026
AUD->NZD: 1.049846
AUD->GBP: 0.554002
AUD->EUR: 0.615491